# Dependências do Node
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Diretório de uploads (se estiver armazenando temporariamente antes de enviar ao Firebase)
uploads/

# Arquivos de ambiente
.env

# Chaves de serviço do Firebase
config/

# Cache do IDE/Editor
.vscode/
.idea/
.DS_Store

# Sistema operacional
Thumbs.db
desktop.ini

# Cobertura de testes
coverage/

# Build
build/

# Outros arquivos e diretórios que você não quer versionar
tmp/